@import 'https://fonts.googleapis.com/css?family=Droid+Sans';

html {
  font-size: 2vw;
  box-sizing: border-box;
  background-color: #D32314;
  color: white;
  text-align: center;
  font-family: 'Droid Sans';
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#keepCalm {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.controls {
  margin: 15px;
  display: flex;
  width: 100%;
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.length {
  padding: 0 10px 0 10px;
}

#timerWrapper {
  border: 3px solid white;
  width: 30%;
  margin: auto;
  border-radius: 4px;
  padding: 5px;
  font-size: 3vw;
}

button {
  height: 20%;
  background-color: #white;
  border: 1px solid black;
  color: black;
  font-size: 2vw;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 8px 6px -6px black;
}

button:hover {
  background-color: #e3d9dc;
}

i:hover {
  color: #e3d9dc;
}